.App {
    margin: 0 auto;
    max-width: 1000px;
}


.btnWrapper {
    gap: 5px;
    display: flex;
    justify-content: space-between;
}
.btn-outline-secondary {
    background-color: #DACEC6;
    color: #68513F;
    border: 1px solid #68513F;
}
.btn-outline-secondary:hover {
    background-color: #68513F;
    color: #DACEC6;
}